[submodule ".registry"]
	path = .registry
	url = https://github.com/traitecoevo/traitecoevo.r-universe.dev
	branch = HEAD
[submodule "APCalign"]
	path = APCalign
	url = https://github.com/traitecoevo/APCalign
[submodule "austraits"]
	path = austraits
	url = https://github.com/traitecoevo/austraits
[submodule "baad.data"]
	path = baad.data
	url = https://github.com/traitecoevo/baad.data
[submodule "bmsma"]
	path = bmsma
	url = https://github.com/traitecoevo/bmsma
[submodule "datastorr"]
	path = datastorr
	url = https://github.com/richfitz/datastorr
	registered = false
[submodule "earthtones"]
	path = earthtones
	url = https://github.com/traitecoevo/earthtones
[submodule "fungaltraits"]
	path = fungaltraits
	url = https://github.com/traitecoevo/fungaltraits
[submodule "hmde"]
	path = hmde
	url = https://github.com/traitecoevo/hmde
[submodule "infinitylists"]
	path = infinitylists
	url = https://github.com/traitecoevo/infinitylists
[submodule "ksi"]
	path = ksi
	url = https://github.com/traitecoevo/ksi
[submodule "leaf13C"]
	path = leaf13C
	url = https://github.com/traitecoevo/leaf13C
[submodule "litterfitter"]
	path = litterfitter
	url = https://github.com/traitecoevo/litterfitter
[submodule "loggr"]
	path = loggr
	url = https://github.com/smbache/loggr
	registered = false
[submodule "phyndr"]
	path = phyndr
	url = https://github.com/traitecoevo/phyndr
[submodule "plant"]
	path = plant
	url = https://github.com/traitecoevo/plant
[submodule "smatr"]
	path = smatr
	url = https://github.com/traitecoevo/smatr
[submodule "taxonlookup"]
	path = taxonlookup
	url = https://github.com/traitecoevo/taxonlookup
[submodule "traits.build"]
	path = traits.build
	url = https://github.com/traitecoevo/traits.build
