[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "APCalign"]
	path = APCalign
	url = https://github.com/traitecoevo/apcalign
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	subdir = r
	registered = false
[submodule "litterfitter"]
	path = litterfitter
	url = https://github.com/traitecoevo/litterfitter
